<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    boxShadow: {
                        neu: '-7px -7px 10px white, 5px 5px 10px rgba(0.585, 0, 0, 0.585)',
                        innerNeu: 'inset -5px -5px 10px white, inset 5px 5px 10px rgba(0, 0, 0, 0.485)',
                    },
                },
            },
        }
    </script>
    <title>Document</title>
</head>
<body>
    <div class="w-full bg-gray-300 p-2 flex justify-between  ">
            <a class="md:pl-4 text-red-500 font-bold hover:text-blue-500" href="/about">About Me</a>
            <h1 class="font-bold">Welcome!✍️</h1>
            <a class="md:pr-4 text-blue-500 font-bold hover:text-red-500" href="/login">Login</a>
            
           
            
       

    </div>
    <div class="w-full h-full flex flex-col md:flex-row justify-center items-center gap-3 mt-3 md:mb-1 ">
        <div class="w-[45%] h-[90%]  rounded-lg">
           <div class="flex flex-col gap-5 justify-center items-center p-1 md:p-5">
            <h1 class=" font-bold  md:text-2xl text-center mt-1 md:mt-4 ">Welcome To My Secure Notepad Website!</h1>
            <div class=" ">
                <img class="w-32 h-22 object-cover object-center rounded-full" src="https://images.pexels.com/photos/27435437/pexels-photo-27435437.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load" alt="">
            </div>
           <div class="flex flex-col gap-1 justify-center items-center  md:p-5">
            <h1 class=" text-sm md:text-2xl font-bold ">Myself, Bhola das</h1>
            <h2 class="text-sm font-bold ">Currently I,m in My Final Year of B.tech in CSE  at NiT Patna </h2>
           </div>
           <h1 class="text-center text-sm"><span class="text-red-500 font-bold">About:-</span>This is my Secure Notepad website Where You Can Create Many Number Secure Note  or You Can Make Safe Note.
               All the note and your Data store in my database.if You Are new On our website then first <span class="text-blue-500"> SignUp</span> then you can <span class="text-blue-500"> SignIn</span> your account 
               
           </h1>

           <h1 class="text-center text-sm "><span class="text-red-500 font-bold ">Note:-</span> if you are New on website Then first Create your Own Account otherwise you can <span class="text-blue-500"> SignIn</span></h1>
         
           </div>
  
        </div>
        <div class="md:w-[45%] md:h-[90%] rounded-lg  flex flex-col justify-center items-center gap-5">
                <!--<h1 class="text-black  font bold text-2xl mb-3">Create account</h1>
                <div class=" flex flex-col ">
                <form  action="/register" method="post">
                    <input class="px-3 py-2 mb-2 rounded outline-none block " type="text" placeholder="username" name="username">
                    <input  class="px-3  mb-2 py-2 rounded outline-none block" type="text" placeholder="name" name="name">
                    <input  class="px-3  mb-2 py-2 rounded outline-none block" type="email" placeholder="email" name="email">
                    <input  class="px-3  mb-2 py-2 rounded outline-none block" type="password" placeholder="password" name="password">
                    <input  class="px-3  mb-2 py-2 rounded outline-none block" type="age" placeholder="age" name="age">
                    <button class="px-2 py-2 mb-4 bg-blue-700 rounded-lg text-white block">Create account</button>
                </form>
                <a class="px-2 py-2 tex-center bg-green-500 rounded " href="/login">Login</a>
        
            </div>-->
            <div class="flex items-center justify-center h-full rounded-lg m-5 ">
                <div class="container  md:w-96 md:pl-10 md:pr-10 p-10 bg-gray-200 rounded-lg shadow-neu">
                    <h1 class=" text-xl md:text-3xl font-bold mb-5 text-center">Sign In/Sign Up</h1>
                   <form action="/register" method="post" id="registerForm">
                    <input type="text" placeholder="Username" name="username" class="w-full mb-3 p-2 rounded-full bg-gray-200 outline-none shadow-innerNeu"/>
                    <input type="text" placeholder="Name" name="name" class="w-full mb-3 p-2 rounded-full bg-gray-200 outline-none shadow-innerNeu"/>
                    <input type="text" placeholder="age" name="age" class="w-full mb-3 p-2 rounded-full bg-gray-200 outline-none shadow-innerNeu"/>
                    <input type="email" placeholder="Email" name="email" class="w-full mb-3 p-2 rounded-full bg-gray-200 outline-none shadow-innerNeu"/>
                    <input type="password" placeholder="Password" name="password" class="w-full mb-8 p-2 rounded-full bg-gray-200 outline-none shadow-innerNeu"/>
                    <button class="w-[100%] h-10 rounded-full bg-blue-500 text-white font-bold mb-5 hover:text-red-500 shadow-neu">Sign Up</button>
                </form>
                    <a class="px-4 py-2 flex items-center justify-center font-bold hover:text-red-500 rounded-full bg-blue-500 text-white shadow-neu" href="/login">Sign In</a>
                </div>
            
            </div>
        </div>

    </div>
   <!--<div class="bg-zinc-900 w-full h-screen  pt-10 pl-10">
    <h1 class="text-white font bold text-2xl mb-3">Create account</h1>
    <form action="/register" method="post">
        <input class="px-3 py-2 mb-2 rounded outline-none " type="text" placeholder="username" name="username">
        <input  class="px-3  mb-2 py-2 rounded outline-none" type="text" placeholder="name" name="name">
        <input  class="px-3  mb-2 py-2 rounded outline-none" type="email" placeholder="email" name="email">
        <input  class="px-3  mb-2 py-2 rounded outline-none" type="password" placeholder="password" name="password">
        <input  class="px-3  mb-2 py-2 rounded outline-none" type="age" placeholder="age" name="age">
        <button class="px-2 py-2 mb-4 bg-blue-700 rounded-lg text-white">Create account</button>
    </form>
    <a class="px-2 py-2  bg-green-500 rounded " href="/login">Login</a>
   </div>-->
   
</body>
</html>